@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.font-bungee {
  font-family: "Bungee Shade";
}

.mw-1400px {
  max-width: 1400px;
}

.mh-200px {
  max-height: 200px;
}
